<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="./css/style.css">
        <title>Document</title>
    </head>
    <body>
        <div id="app">
            <main>
                <div class="dash-container">
                    <div class="list-container">
                        <div class="user">
                            <div class="avatar-io">
                                <img src="./img/avatar_io.jpg" alt="avatar_io">
                                <span>Sofia</span>
                            </div>
                            <div class="items">
                                <i class="fa-solid fa-circle-notch"></i>
                                <i class="fa-solid fa-message"></i>
                                <i class="fa-solid fa-ellipsis-vertical"></i>
                            </div>
                        </div>
                        <div class="notification">
                            <div class="bell-container">
                                <i class="fa-solid fa-bell-slash" style="color: rgba(142,218,252,255);"></i>
                            </div>
                            <div class="text-notification">
                                <p class="mb-0">Ricevi notifiche di nuovi messaggi</p>
                                <p class="text-secondary fs-10 text-decoration-underline mb-0">Attiva notifiche desktop</p>
                            </div>
                        </div>
                        <div class="input-group mb-0 p-1">
                            <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-magnifying-glass"></i></span>
                            <input type="text" class="form-control" placeholder="Cerca o inizia una nuova chat" v-model="search" @keyup="searchChat()">
                        </div>
                        <div class="chats-list">
                            <div class="chat" v-show="utent.visible" v-for="utent, index in contacts" :key="index"  @click="clickChat(index)">
                                <div class="active-avatar">
                                    <img :src="utent.avatar" alt="utent">
                                    <div class="info-utent ms-1">
                                        <p class="mb-0">{{utent.name}}</p>
                                        <p class="text-secondary fs-10 mb-0">{{ utent.messages[utent.messages.length - 1].message }}</p>
                                    </div>
                                </div>
                                <p class="text-secondary fs-10">{{utent.messages[utent.messages.length - 1].date}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="chat-container">
                        <div class="active-utent">
                            <div class="active-avatar">
                                <img :src="contacts[view_utent].avatar" alt="utent">
                                <div class="info-utent">
                                    <p class="mb-0">{{contacts[view_utent].name}}</p>
                                    <p class="text-secondary fs-10 mb-0">{{online}}</p>
                                </div>
                            </div>
                            <div class="items">
                                <i class="fa-solid fa-magnifying-glass"></i>
                                <i class="fa-solid fa-paperclip"></i>
                                
                                <div class="dropdown">
                                    <button class="btn btn-sm border-0 f-btn p-0" type="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-solid fa-ellipsis-vertical"></i></button>
                                    <ul class="dropdown-menu">
                                      <li @click="newChat()"><a class="dropdown-item" href="#">Add new chat</a></li>
                                      <li @click="deleteAllChat(index)"><a class="dropdown-item" href="#">Delete chat</a></li>
                                      <li @click="deleteContact(index)"><a class="dropdown-item" href="#">Delete contact</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="text-window p-5">
                            <div class="text-container" :class="utent.status === 'received' ? 'received' : 'send'" v-for="utent, index in contacts[view_utent].messages" :key="index" @mouseover="visibleDropdown(index)" @mouseleave="hiddenDropdown(index)" v-show="utent.message != ''">
                                <p class="m-1">{{utent.message}}</p>
                                <span class="mex-date">{{utent.date}}</span>
                                <div class="dropdown">
                                    <button class="btn btn-sm border-0 dropdown-toggle delete-button" :class="utent.show === false ? 'd-none' : ''" type="button" data-bs-toggle="dropdown" aria-expanded="false"></button>
                                    <ul class="dropdown-menu">
                                      <li><a class="dropdown-item" href="#">Info message</a></li>
                                      <li @click="deleteMessage(index)"><a class="dropdown-item" href="#">Delete message</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="input-container">
                            <i class="fa-regular fa-face-smile"></i>
                            <input type="text" class="form-control" placeholder="Send a message" v-model="add_message" @keyup.enter="sendMessage()" @keyup.enter="receivedMessage()">
                            <i :class="add_message === '' ? 'fa-solid fa-microphone' : 'fa-solid fa-paper-plane'" @click="sendMessage()"></i>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/luxon@3.4.4/build/global/luxon.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
        <script src="./js/script.js" type="text/javascript"></script>
    </body>
</html>